<Project><PropertyGroup><WebPublishMethod>FileSystem</WebPublishMethod><PublishProvider>FileSystem</PublishProvider><LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration><PublishDir>$(MSBuildProjectDirectory)\..\publish\</PublishDir><DeleteExistingFiles>false</DeleteExistingFiles><SelfContained>false</SelfContained><UseAppHost>false</UseAppHost></PropertyGroup></Project>
